@model AnlabMvc.Models.Order.OrderEditModel
@using Anlab.Core.Domain

@{
    ViewBag.Title = "Admin Edit";
}

<h2>Admin Edit</h2>

<div id="react-app-admin"></div>

<script>
    App = {};
    App.orderData = @Json.Serialize(Model);
    App.OrderId = @Model.Order.Id;
</script>

<script src="~/dist/react.js" asp-append-version="true"></script>
<script src="~/dist/adminOrder.js" asp-append-version="true"></script>
