@model Anlab.Core.Domain.User
@{
    ViewData["Title"] = "Admin Edit User";
}
<div class="col">
    <form asp-action="EditUser" method="post" asp-antiforgery="true" asp-id="@Model.Id">
        <div class="form-horizontal">
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="col-md-2 control-label">Default UC Account</label>
                <div class="col-md-10">
                    <input asp-for="Account" class="form-control" />
                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ClientId" class="form-control" />
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="col-md-2 control-label">Default UC Account</label>
                <div class="col-md-10">
                    <input asp-for="Account" class="form-control" />
                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BillingContactName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="BillingContactName" class="form-control" />
                    <span asp-validation-for="BillingContactName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BillingContactAddress" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="BillingContactAddress" class="form-control" />
                    <span asp-validation-for="BillingContactAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BillingContactEmail" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="BillingContactEmail" class="form-control" />
                    <span asp-validation-for="BillingContactEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BillingContactPhone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="BillingContactPhone" class="form-control" />
                    <span asp-validation-for="BillingContactPhone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

