@using System.Runtime.InteropServices.ComTypes
@model Anlab.Core.Domain.TestItem

@Html.HiddenFor(a => a.Category)
<div class="col">
    <div class="form-group">
        <label asp-for="Analysis" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Analysis" class="form-control" />
            <span asp-validation-for="Analysis" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Categories" class="form-control" multiple="multiple">
                @foreach (var category in TestCategories.All)
                {
                    <option value="@category">@category</option>
                }
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LabOrder" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LabOrder" class="form-control" />
            <span asp-validation-for="LabOrder" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="RequestOrder" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RequestOrder" class="form-control" />
            <span asp-validation-for="RequestOrder" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Group" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Group" class="form-control" />
            <span asp-validation-for="Group" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Public" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Public" class="form-control" >
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <span asp-validation-for="Public" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Reporting" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Reporting" class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <span asp-validation-for="Reporting" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="DryMatter" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="DryMatter" class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <span asp-validation-for="DryMatter" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Notes" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Notes" class="form-control" rows="3"> </textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AdditionalInfoPrompt" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="AdditionalInfoPrompt" class="form-control" rows="3"> </textarea>
            <span asp-validation-for="AdditionalInfoPrompt" class="text-danger"></span>
        </div>
    </div>
</div>

