@model Anlab.Core.Domain.TestItem

@{
    ViewData["Title"] = "Delete Test Code";
}

<div>
    <hr />
    <h3>Are you sure you want to delete this?</h3>

    @Html.PartialAsync("_TestItemsDetails")

    <form asp-action="Delete">
        <div class="form-actions no-color col-md-offset-1">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        <a asp-action="Index">Back to List</a>

    </form>
</div>
