@model Anlab.Core.Domain.TestItem

@{
    ViewData["Title"] = "Test Code Details";
}

@section ActionButtons
{
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-red">Delete</a>
    </p>
}

<div class="col">
    <div>
        @await Html.PartialAsync("_TestItemsDetails")
    </div>
    <div>
        <a asp-action="Index">Back to List</a>

    </div>
</div>
