@model Anlab.Core.Domain.TestItem

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Item Details</title>
</head>
<body>

<div>
    <h2>Test Item Details</h2>
    <hr />

    @Html.Partial("_TestItemsDetails")

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
