@model Anlab.Core.Domain.User

@{
    ViewBag.Title = "Your profile";
}
<div class="row">
  <div class="col whiteblock">

    @Html.Partial("_UserDetails")

    <a asp-action="Edit" class="btn btn-primary">Edit your profile</a>


  </div>
</div>
