@model Anlab.Core.Domain.User

@{
    ViewBag.Title = "Your profile";
}
<div class="col">
    @Html.Partial("_UserDetails")

    <a asp-action="Edit" class="btn btn-primary">Edit your profile</a>
</div>
