@model AnlabMvc.Models.Reviewer.ReviewerTotalModel
@{
    ViewData["Title"] = "Totals";
}
<div class="col">
    <form asp-action="Totals">
        <table border="0" cellspacing="5" cellpadding="5" align="left">
            <tbody>
                <tr>
                    <td><label asp-for="fStart" class="col-md-2 control-label"></label></td>
                    <td><label asp-for="fEnd" class="col-md-2 control-label"></label></td>
                    <td><label asp-for="cStart" class="col-md-2 control-label"></label></td>
                    <td><label asp-for="cEnd" class="col-md-2 control-label"></label></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input asp-for="fStart" class="datepicker datepicker-input" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
                    <td><input asp-for="fEnd" class="datepicker datepicker-input" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
                    <td><input asp-for="cStart" class="datepicker datepicker-input" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
                    <td><input asp-for="cEnd" class="datepicker datepicker-input" type="text" data-date-orientation="bottom" data-date-clear-btn="true" data-date-today-highlight="true"></td>
                    <td><input type="submit" value="Apply" class="btn btn-default" /></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section AdditionalStyles
    {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />

    <style>

        .datepicker-input {
            margin: 0 5px 5px 0;
            height: 30px;
        }
    </style>
}

@section Scripts
    {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}
