@model AnlabMvc.Models.Reviewer.ReviewerTotalModel
@{
    ViewData["Title"] = "Totals";
}
<div class="col">
    <form asp-action="Totals">
        <div class="form-group">
            <label asp-for="fStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="fStart" class="datepicker form-control datepicker-input" type="text" />
                <span asp-validation-for="fStart" class="text-danger"></span>
            </div>
            <label asp-for="fEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="fEnd" class="datepicker form-control datepicker-input" type="text" />
                <span asp-validation-for="fEnd" class="text-danger"></span>
            </div>
            <label asp-for="cStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="cStart" class="datepicker form-control datepicker-input" type="text" />
                <span asp-validation-for="cStart" class="text-danger"></span>
            </div>
            <label asp-for="cEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="cEnd" class="datepicker form-control datepicker-input" type="text" />
                <span asp-validation-for="cEnd" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section AdditionalStyles
    {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />

    <style>

        .datepicker-input {
            margin: 0 5px 5px 0;
            height: 30px;
        }
    </style>
}

@section Scripts
    {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}
