@model AnlabMvc.Models.Order.OrderEditModel
@using Anlab.Core.Domain

@{
    ViewBag.Title = "Admin Edit -- " + Model.Order.Status + " Status";
}

<div id="react-app"></div>

<script>
    App = {};
    App.orderData = @Json.Serialize(Model);
    App.OrderId = @Model.Order.Id;
    App.IsFromLab = true;
    App.Status = @Json.Serialize(Model.Order.Status);
</script>

<script src="~/dist/react.js" asp-append-version="true"></script>
<script src="~/dist/order.js" asp-append-version="true"></script>
