@{
    ViewData["Title"] = "Error Detected";
}
<div class="col">
    <h1 class="text-danger">Error.</h1><br/>
    <h2 class="text-danger">An error occurred while processing your request.</h2><br />
    <h3>If the problem persists please contact us.</h3><br />
    <img src="@Url.Content("~/Images/Error.png")" />
</div>
