@{
    ViewData["Title"] = "Error Detected";
}
<div class="col">
    <h1 class="text-danger">Error.</h1><br/>
    <h2 class="text-danger">An error occurred while processing your request.</h2><br />
    <p>
        Please try again. Depending on the error, you may want to try opening the page in an incognito or private browser window.
    </p>
    <h3>
        If the problem persists, please contact us at <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a> 
    </h3><br />
    <img src="@Url.Content("~/Images/Error.png")" />
</div>
