@model int
@{
    ViewData["Title"] = "Error";

    int statusCode = Model;
    string statusmessage = "";
    switch (statusCode)
    {
        case 400:
            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "Page not found";
            break;
        case 408:
            statusmessage = "The server timed out waiting for the request";
            break;
        case 500:
            statusmessage = "Internal Server Error - server was unable to finish processing the request";
            break;
        default:
            statusmessage = "That's odd... Something we didn't expect happened";
            break;
    }
}

<div class="col">
    <h1>Well, that is embarrassing.</h1>
    <h1>@statusmessage</h1>
    <h3>Error @Model</h3>
    <p>
        Please try again. Depending on the error, you may want to try opening the page in an incognito or private browser window.
    </p>
    <p>
        If the problem persists, please contact us at <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a> 
    </p>
</div>
