@model AnalysisMethod

<div class="form-group">
    <label asp-for="Title" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Category" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
</div>
        
<div class="form-group">
    <label asp-for="Content" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <textarea asp-for="Content" class="form-control" rows="3"> </textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
</div>