@model AnlabMvc.Models.Order.OrderEditModel

@{
    ViewBag.Title = "Create New Work Request";
}

@Html.AntiForgeryToken()

<div id="react-app" class="col"></div>

@section Scripts
{
    <script>
        App = {};
        App.orderData = @Json.Serialize(Model);
        App.defaults = @Json.Serialize(Model.Defaults);
    </script>

    <script src="~/dist/react.js" asp-append-version="true"></script>
    <script src="~/dist/order.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function() {
            $('body').tooltip({
                selector: '.analysisTooltip'
            });
        });
    </script>
}
