@model AnlabMvc.Models.Order.OrderEditModel

@{
    ViewBag.Title = "Create New Work Order";
}

@Html.AntiForgeryToken()

<div id="root" class="col"></div>

@section ScriptVariables {
    <script>
        App = {};
        App.orderData = @Json.Serialize(Model);
        App.defaults = @Json.Serialize(Model.Defaults);
        App.useCoa = @Json.Serialize(Model.UseCoa);
    </script>
}

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('body').tooltip({
                selector: '.analysisTooltip'
            });
        });
    </script>
}
