@using Humanizer
@model AnlabMvc.Models.Order.OrderReviewModel

@{
    ViewData["Title"] = "Details";
}

@section ActionButtons
    {
    <p>
        <a asp-action="Index" class="btn btn-default">Back to Orders</a>
        <form asp-action="Copy" asp-controller="Order" method="post" autocomplete="off" style="margin-right: 3px; margin-left: 3px">
            <input type="hidden" name="id" value="@Model.Order.ShareIdentifier" />
            <button type="submit" class="btn btn-primary" aria-hidden="true"><i class="fa fa-files-o" aria-hidden="true"></i> Duplicate</button>
        </form>
    </p>
}

<div class="col">

    @await Html.PartialAsync("_OrderDetails")

</div>
@section AdditionalStyles
    {
    @{ await Html.RenderPartialAsync("_DataTableStylePartial"); }

    @await Html.PartialAsync("_PrintStyle") 
}

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_DataTableScriptsPartial"); }

    <script type="text/javascript">
        $(function () {
            $("#table").dataTable();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $(".showTooltip").tooltip();
        });
    </script>

    @{ await Html.RenderPartialAsync("_ShowdownScriptsPartial"); }

    @await Html.PartialAsync("_PrintScript")

}
