@model AnlabMvc.Models.Order.OrderEditModel
@using Anlab.Core.Domain

@{
    ViewBag.Title = "Edit Existing Order";
}

@Html.AntiForgeryToken()

<div id="react-app" class="col"></div>

@section Scripts
{
    <script>
        App = {};
        App.orderData = @Json.Serialize(Model);
        App.orderId = @Model.Order.Id;
        App.defaultEmail = @Json.Serialize(Model.DefaultEmail);
    </script>
    
    <script src="~/dist/react.js" asp-append-version="true"></script>
    <script src="~/dist/order.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function() {
            $('body').tooltip({
                selector: '.analysisTooltip'
            });
        });
    </script>
}
