@model AnlabMvc.Models.Order.OrderEditModel
@using Anlab.Core.Domain

@{
    ViewBag.Title = "Edit Existing Order";
}

<div id="react-app"></div>

<script>
    App = {};
    App.orderData = @Json.Serialize(Model);
    App.OrderId = @Model.Order.Id;
</script>

<script src="~/dist/react.js" asp-append-version="true"></script>
<script src="~/dist/order.js" asp-append-version="true"></script>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('body').tooltip({
                selector: '.analysisTooltip'
            });
        });
    </script>
}
