
@{
    ViewData["Title"] = "Order";
}

<h2>Order</h2>

<div id="react-app"></div>

@section Scripts {
    <script src="~/dist/react.js" asp-append-version="true"></script>
    <script src="~/dist/order.js" asp-append-version="true"></script>
}