@model IList<Order>

@{
    ViewData["Title"] = "Order";
}

<h2>Orders</h2>

<table>
    <tbody>
        @foreach(var order in Model) {
            <tr>
                <td><a asp-action="Edit" asp-route-id="@order.Id">Edit</a></td>
                <td>@order.Id</td>
                <td>@order.Project</td>
                <td>@order.JsonDetails</td>
            </tr>
        }
    </tbody>
</table>