*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
    height: inherit;
}
body {
    padding: 0;
    margin: 0 0 120px;
    background-color: $bg-color;
    color:$primary-font;
    font-family: $sans-serif;
}
header {
  background-color: #fff;
}
.header_contents {
  @include boundary;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.login_wrapper {
  @include breakpoint(mobileonly) {
    margin:auto;
    padding:10px 0px;
  }
  p {
    margin-bottom:0px;
    margin-right:8px;
    a {
      color:$secondary-font;
    }
  }
}
.head_bleed {
  background: #1e3a5b;
    background: -moz-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    background: -webkit-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    background: linear-gradient(to right,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-one',endColorstr='$gradient-two',GradientType=1);

}
.head_divider {
    background: url(/media/gunrock_banner_final.svg) center top/cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo_wrapper {
  padding:10px;
  padding-left:0px;
  @include breakpoint(mobileonly) {
    margin:auto;
  }
}
footer {
  .footer_contents {
    @include boundary;
    padding:0px 38px;
  }
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: block;
}
