.navbar.navbar-anlab {
  margin-bottom: 0px;
  padding:5px;
  background-color:#fff;

  .navbar-collapse {
    padding:0px;
  }
}
nav.navbar-anlab {
  ul.navbar-nav {
    li {
      font-weight:600;
      a {
        color:$primary-font;
      }
    }
  }
}
.navbar-toggle .icon-bar {
  background-color:$primary-color;
}
.navbar-brand {

}
