//sampling and preparation

.sampling-buttons {
    text-align: center;
    align-self: flex-end;
    border: 1px solid $primary-font;
    padding: 24px 0px;
    &:hover {
      background-color:$bg-color;
    }
    h3 {
      margin-bottom:0px;
    }
    img {
        margin-bottom: 8px;
    }
}
.using-affix {
  bottom:inherit !important;
  top:50px;
}
.affix {
  bottom:4px;
  transition: all 0.15s ease;
  z-index:99;
}
.stickyfoot {
  width:70.5%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  .well {
    background-color:#fff;
    border-radius:0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
.ordersum {
  background-color:$primary-color;
  display:flex;
  justify-content: space-between;
  padding:10px 32px;
  align-items: center;
  & div {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  h3 {
    color:#fff;
    margin-bottom:0px;
    display:inline;
    margin-right:13px;
  }
  a {
    color:rgba(255,255,255,.95);
    font-size:1.4rem;
    text-transform: uppercase;
    margin-bottom:0px;
    display:inline;
    cursor: pointer;
  }
}
