//sampling and preparation

.sampling-buttons {
    text-align: center;
    align-self: flex-end;
    border: 1px solid $primary-font;
    padding: 24px 0px;
    &:hover {
      background-color:$bg-color;
    }
    h3 {
      margin-bottom:0px;
    }
    img {
        margin-bottom: 8px;
    }
}
// order
#react-app {
  .theme__radio___1vWJb::before {
    background-color: $primary-color;
  }
  .theme__radioChecked___210O6 {
    border: 2px solid $primary-color;
  }
}
.anlab_payment_option {
  border: 1px solid $borders;
  border-radius:4px;
  padding:16px 20px;

}
