@{
    ViewData["Title"] = "Home Page";
}

<div class="col-8">
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Update posted: May 21, 2020<br /><br />
       We are close to full operational status at the lab now and receiving hours will return to normal (daily 8am to 5pm) on May 26th.
         If you are dropping off samples at receiving and would prefer to stay outside, you can knock on the door or give Gary a 
        call at 530-752-0266 and he will push a cart outside the door to take your samples and paperwork. 
        We do have hand sanitizer available in the receiving area. <br /><br />
    <br /><br />
    Thank you for your patience during this time of changing circumstances.
        </div>
    <p class="lead">The UC Davis Analytical Laboratory is a core support facility of the UC Davis College of Agriculture and Environmental Sciences.</p>
    <p>Analytical Laboratory clients are University of California academics, other educational institutions, government agencies, and research-based businesses.
    </p>
    <p>In addition to analytical services, the Laboratory provides project assistance in the areas of analytical, agricultural and environmental chemistry. The Laboratory has an educational role, providing training to students and researchers in the
        operation of a number of analytical methods and instruments.</p>
    <p>Please Note: Dirk Holstege has recently retired as Laboratory Director of the UC Davis Analytical Laboratory.  
       We thank him for his nearly twenty years of service as Director of the Analytical Lab and his thirty-two years of service
       as a UC Davis employee. We wish him all the best in his retirement.<br/> <br/>
       Traci Francis, Laboratory Supervisor, is serving as Interim Director. </p>
</div>
<div class="col-4">
    <address>
        <p>UC Davis Analytical Lab<br> University of California Davis, California <br> 95616-5270 <br> Phone: <span style="white-space: nowrap">(530) 752-0147</span> <br> Fax: <span style="white-space: nowrap">(530) 752-9892</span> <br> Email: <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a></p>
    </address>
</div>
