@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col whiteblock">
        <h2>The UC Davis Analytical Laboratory is a core support facility of the UC Davis College of Agriculture and Environmental Sciences.</h2>
        <p>Analytical Laboratory clients are University of California academics, other educational institutions, government agencies, and research-based businesses.
        </p>
        <p>In addition to analytical services, the Laboratory provides project assistance in the areas of analytical, agricultural and environmental chemistry. The Laboratory has an educational role, providing training to students and researchers in the
            operation of a number of analytical methods and instruments.</p>
        <p>UC Davis Analytical Lab<br> University of California Davis, California <br> 95616-5270 <br> Phone: (530) 752-0147 <br> Fax: (530) 752-9892 <br> Email: <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a></p>
    </div>
    <div class="col contentblock">
        Aside pieces
    </div>
  </div>
