@{
    ViewData["Title"] = "Home Page";
}

<div class="col-8">
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Update posted: April 7, 2022<br /><br />
      <strong>Please Note Holiday Closure Information:</strong><br /><br />
       The Lab will be closed June 20, 2022, for Juneteenth Holiday<br />
        And on July 4, 2022, for Independence Day<br /><br />
    </div>
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
    <h3>The lab is experiencing much longer turnarounds than normal.  Most tests are subject to at least 8 weeks.</h3>
      <strong> We apologize for this inconvenience.  We have expanded our staffing to address this issue. 
          However, due to the rapid spread of Covid there may be absences which are unpredictable.</strong><br /><br />
       Thank you for your understanding and patience.<br />
        ~ Jan 19, 2022
        </div>
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Update posted: Jan 3, 2022<br /><br />
      <strong>Now offering</strong><br /><br />
       Crude Fiber<br />
       Crude Fat by Acid Hydrolysis<br />
        </div>
    <p class="lead">The UC Davis Analytical Laboratory is a core support facility of the UC Davis College of Agriculture and Environmental Sciences.</p>
    <p>The laboratory is located in Hoagland Hall with a Sample Receiving area in nearby Hoagland Annex. </p>
    <p>The laboratory performs analyses on selected chemical constituents of soil, plant, water and 
        waste water, and feed in support of agricultural and environmental research.</p>
    <p>For new clients, please note the drop-down menu under “Lab Information” which contains 
        an “Order Completion Help” section to help guide you in creating a work order.  Also helpful 
        under the “Lab Information” drop-down menu is the “Methods of Analysis” section which provides 
        brief descriptions of our current methods.</p>
    <p>Please feel free to contact the lab with any questions.</p>
</div>
<div class="col-4">
    <address>
        <p>UC Davis Analytical Lab<br> University of California Davis, California <br> 95616-5270 <br>
            Phone: <span style="white-space: nowrap">(530) 752-0147</span> <br>
            Fax: <span style="white-space: nowrap">(530) 752-9892</span> <br> 
            Email: <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a></p>
        <p>Receiving Hours: 8am - 5pm M - F, </br>    except University holidays </br>
            Sample Receiving Area: Hoagland Annex, </br>Phone: 530-752-0266</p>
    </address>
    
    <p><a href="/media/pdf/UC-Davis-Analytical-Laboratory-Handout.pdf" target="_blank" title="Anlab Flyer"><div><img src="~/Images/AnlabFlyerThumb.png"/><br/>Lab Flyer</div> </a></p>
</div>
