@{
    ViewData["Title"] = "Home Page";
}

<div class="col-8">
    <p class="lead">The UC Davis Analytical Laboratory is a core support facility of the UC Davis College of Agriculture and Environmental Sciences.</p>
    <p>Analytical Laboratory clients are University of California academics, other educational institutions, government agencies, and research-based businesses.
    </p>
    <p>In addition to analytical services, the Laboratory provides project assistance in the areas of analytical, agricultural and environmental chemistry. The Laboratory has an educational role, providing training to students and researchers in the
        operation of a number of analytical methods and instruments.</p>            
</div>
<div class="col-4">
    <address>
        <p>UC Davis Analytical Lab<br> University of California Davis, California <br> 95616-5270 <br> Phone: <span style="white-space: nowrap">(530) 752-0147</span> <br> Fax: <span style="white-space: nowrap">(530) 752-9892</span> <br> Email: <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a></p>
    </address>
</div>
