@{
    ViewData["Title"] = "Home Page";
}

<div class="col-8">
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Update posted: November 30, 2020<br /><br />
       In response to the emergency need for the analysis of wine for smoke taint, 
        the UC Davis Department of Viticulture and Enology is partnering with the UC Davis Analytical Lab to offer testing<br /><br />
       Please click <a href="/media/pdf/anlab_smoke-taint_instructions_v2.pdf" target="_blank"><strong>here</strong> for more information on
        <strong> Wine Testing for Smoke Taint</strong></a>.<br /><br />
        Please Note Receiving Hours: M - F, 8 - 5.<br /><br />
        <strong>Please Note Important Date:<br /><br />
            The emergency arrangement for wine testing will end in December with samples accepted through December 8th.</strong>
        </div>
    <p class="lead">The UC Davis Analytical Laboratory is a core support facility of the UC Davis College of Agriculture and Environmental Sciences.</p>
    <p>The laboratory is located in Hoagland Hall with a Sample Receiving area in nearby Hoagland Annex. </p>
    <p>The laboratory performs analyses on selected chemical constituents of soil, plant, water and 
        waste water, and feed in support of agricultural and environmental research.</p>
    <p>For new clients, please note the drop-down menu under “Lab Information” which contains 
        an “Order Completion Help” section to help guide you in creating a work order.  Also helpful 
        under the “Lab Information” drop-down menu is the “Methods of Analysis” section which provides 
        brief descriptions of our current methods.</p>
    <p>Please feel free to contact the lab with any questions.</p>
</div>
<div class="col-4">
    <address>
        <p>UC Davis Analytical Lab<br> University of California Davis, California <br> 95616-5270 <br>
            Phone: <span style="white-space: nowrap">(530) 752-0147</span> <br>
            Fax: <span style="white-space: nowrap">(530) 752-9892</span> <br> 
            Email: <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a></p>
        <p>Receiving Hours: 8am - 5pm M - F, </br>    except University holidays </br>
            Sample Receiving Area: Hoagland Annex, </br>Phone: 530-752-0266</p>
    </address>
</div>
