@{
    ViewData["Title"] = "Home Page";
}

<div class="col-8">
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Posted: April 6, 2020<br /><br />
        We are scaling back to a bare minimum staff at this time.  We will only be working on samples where immediate testing is essential.  Assisting you with your research is very important to us and we are eager to return to full staffing as soon as it is safe.<br /> <br />
    For the week of April 6-10, receiving will be open from 9am to noon.<br /><br />
    Starting April 13th for sample drop-off please email us at <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a> to arrange a time to meet at receiving.  If you need to ship samples to us, please email us with the expected delivery date.<br /><br />
    Please use this option for samples requiring immediate testing for essential research.  We can also arrange for receipt of more routine samples if proper storage of samples cannot be arranged in your own facility as we await a return to normal business operations.<br /><br />
    Please monitor our homepage for updates and thank you for your patience!<br /><br />
    Please be safe.
        </div>
    <p class="lead">The UC Davis Analytical Laboratory is a core support facility of the UC Davis College of Agriculture and Environmental Sciences.</p>
    <p>Analytical Laboratory clients are University of California academics, other educational institutions, government agencies, and research-based businesses.
    </p>
    <p>In addition to analytical services, the Laboratory provides project assistance in the areas of analytical, agricultural and environmental chemistry. The Laboratory has an educational role, providing training to students and researchers in the
        operation of a number of analytical methods and instruments.</p>
    <p>Please Note: Dirk Holstege has recently retired as Laboratory Director of the UC Davis Analytical Laboratory.  
       We thank him for his nearly twenty years of service as Director of the Analytical Lab and his thirty-two years of service
       as a UC Davis employee. We wish him all the best in his retirement.<br/> <br/>
       Traci Francis, Laboratory Supervisor, is serving as Interim Director. </p>
</div>
<div class="col-4">
    <address>
        <p>UC Davis Analytical Lab<br> University of California Davis, California <br> 95616-5270 <br> Phone: <span style="white-space: nowrap">(530) 752-0147</span> <br> Fax: <span style="white-space: nowrap">(530) 752-9892</span> <br> Email: <a href="mailto:anlab@ucdavis.edu">anlab@ucdavis.edu</a></p>
    </address>
</div>
