@{ ViewData["Title"] = "Sampling and Preparation"; }

<div class="row">
    <div class="col whiteblock">
        <p>One of the most important aspects of analytical work is the proper collection and preparation of representative samples. The following are some general guidelines on sampling techniques for soils, plants and water. Specific sampling information
            can be obtained from a variety of sources, including literature and Extension Specialists.</p>
        <p>Also included are recommendations for preparing samples prior to submitting them to the UC Davis Analytical Lab. The lab routinely dries wet sample material and also provides sample grinding service (at client cost). If you have any questions
            regarding sampling or sample preparation, please contact the Lab at 530-752-0147.</p>
        <div class="row">
            <div class="col">
                <a href="#soil" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                    <div class="sampling-buttons">

                        <img src="/media/soil.svg" alt="">
                        <h3>Soil</h3>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#plant" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                    <div class="sampling-buttons">

                        <img src="/media/plant.svg" alt="">
                        <h3>Plant</h3>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#water" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                    <div class="sampling-buttons">

                        <img src="/media/water.svg" alt="">
                        <h3>Water</h3>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#other" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                    <div class="sampling-buttons">

                        <img src="/media/icecream.svg" alt="">
                        <h3>Other</h3>
                    </div>
                </a>
            </div>

        </div>
        <div class="collapse" id="soil" aria-expanded="false" style="height: 0px;">
            <h2>Soil</h2>
            <h3>Sampling</h3>
            <p>Soil sampling is a particularly difficult task when attempting to get a representative sample. Normally a 500-gram sample is submitted to the laboratory for analysis. This 500-gram sample may represent 10 or more acres. If the area covered
                by the sample is not uniform, the chemical analysis may not accurately reflect the nutrient status of specific sites. Factors that need to be considered when sampling soil include the depth and time of sampling. Proper sampling depth is
                affected by the crop being grown, past cropping, depth of plowing and also the nutrient of interest. Subsoil samples are important for most crops. Standard sampling times should be used due to the difficulty in comparing samples taken
                at different times. The fertility level of a field will vary over the course of the year and interpreting results for samples taken at different times of the year will be very difficult. Sampling between crops will give more consistent
                results.
            </p>
            <p>When sampling soils, the area should be subdivided into as homogeneous sections as possible. Between 10 and 20 sub-samples should be composited from each area. Sub-samples should be small enough that the composite sample will be of a size
                that can be completely processed for analysis. The depth of the sampling is determined by the crop, the elements of interest and existing knowledge about the soil profile. Samples for cultivated crops are taken from the plow layer. Pasture
                and sod crop soil samples should be collected from the top four inches. Samples for nitrate, soluble salts and available micronutrients should be taken at the root depth.</p>
            <h3>Drying Recommendations</h3>
            <p>Once samples have been collected, they must be processed promptly to prevent any changes that might affect the analysis. Break up large chunks of soil and spread out to air dry where the sample will not be contaminated, particularly by fertilizer
                dust. The sample may also be placed in a forced air oven set between 35°C and 55°C.</p>
            <br />
            <h3>Grinding Recommendations</h3>
            <p>Soil should be crushed in a soil pulverizer to pass through a 2mm mesh screen. Large clumps of hard soil should be pounded into smaller clumps first. Soil pulverizing time is normally one to four minutes per sample.</p>
            <h3>Exceptions:</h3>
            <ul>
                <li>Analysis of Carbon, Nitrogen (including Total Kjeldahl Nitrogen), Calcium Carbonate, and total elements (Arsenic, Cadmium, Copper, Chromium, Iron, Lead, Manganese, Molybdenum, Nickel, Phosphorus, Selenium, Zinc) requires that the sample
                    be ground to a powder fine enough to pass through a 60 mesh screen.  Grinding with mortar and pestle or mechanical grinder may be necessary to powder the sample, especially with soils containing sand.</li>
                <li>Soils with a high percentage of sand or organic material may require grinding to pass through a 60 mesh screen to achieve sample homogeneity.</li>
            </ul>
        </div>
        <div class="collapse" id="plant" aria-expanded="false" style="height: 0px;">
            <h2>Plant</h2>
            <h3>Sampling</h3>
            <p>Sampling plays a critical role in plant analysis. When analyzing the nutrient status of plants, it is essential to select the plant part for chemical analysis that reflects the status of the particular element of interest. Four samplings during
                a growing season are usually sufficient to characterize seasonal nutritional patterns. One sampling should be early in the growing season, two in mid-season and the last one just prior to harvest. Four samples should be collected from
                each field or management unit. Each sample should contain material from at least 20 plants to ensure adequate, representative material for analytical testing. Separate samples should be taken from areas that appear different from the rest
                of the field.</p>
            <p>A young mature leaf is generally selected for analysis. The sample can be subdivided into blade and petiole. The status of Cl, NO3-N, NH4-N, extractable K and P, in the form of PO4-P (2% acetic acid) are generally determined through analysis
                of the petiole. Blades are used when evaluating the status of K, Ca, Mg, Na, Fe, Mn, Zn, Cu, B, Mo, SO4-S and total-N in plants. For diagnostic purposes, only leaves that have recently developed symptoms should be collected for chemical
                analysis.
            </p>
            <h3>Drying Recommendations</h3>
            <p>After collection, plant material should be washed to remove any residual soil or dust. Fresh samples or those suspected to be moist should be placed into paper bags (with adequate room for air movement within the bag) and dried in a forced
                air oven at 55-60°C. In general, adequate drying time is approximately 12 hours or until the material snaps or breaks easily. All samples, except freeze drying material, should be turned every 24 hours.</p>
            <h3>Exceptions:</h3>
            <ul>
                <li>Range samples take 24 hours or more to dry</li>
                <li>Power plant ash samples take three days to dry</li>
                <li>Solid pieces of wood take 24 hours to dry</li>
                <li>Rice soils take two days to dry</li>
                <li>Any material larger than gallon size will take one or more days to dry</li>
                <li>Fruits and vegetables should be freeze dried and pureed (weigh the samples before and after the freeze drying process)</li>
                <li>These time frames are based on use of a large, forced-air oven.</li>
                <li>Times need to be adjusted accordingly for other types/sizes of ovens.</li>
            </ul>
            <h3>Grinding Recommendations</h3> Most plant and feed samples should be ground to pass through a 40 mesh screen. Large wood samples must be splintered into smaller pieces before grinding. Average grinding time is one minute per sample if less than 10 grams or three to four
            minutes for samples over 10 grams.
            <h3>Exceptions:</h3>
            <ul>
                <li>Grape blades-use a 20 mesh screen due to tricomb separation from leaf</li>
                <li>Sugar beet petioles-use a 20 mesh screen due to high sugar content</li>
                <li>Walnut leaf-use a 20 mesh screen due to fibers in veins</li>
                <li>Corn stalks-use a 10 mesh screen due to high sugar content</li>
                <li>Freeze dried samples-do not need to be ground as they are easily crushed manually</li>
            </ul>
        </div>
        <div class="collapse" id="water" aria-expanded="false" style="height: 0px;">
            <h2>Water</h2>
            <h3>Sampling</h3>
            <p>Samples must be representative. Samples should be collected in clean, plastic bottles that have been rinsed three times prior to use. Well-water samples should be collected after pumping for at least 30 minutes. Sampling from distribution
                systems should be done after the lines have been flushed sufficiently to ensure that the sample is representative of the supply.</p>
            <p>If NO3-N, NH4-N or PO4-P are elements of interest the samples should be frozen or kept below 40° F. Samples collected for alkalinity, conductivity, phosphate, sulfate, turbidity or solids should also be refrigerated until analysis can be completed.
                Due to the problems of absorption or precipitation, if micronutrients, metals or salts are of interest, the sample, or a sub-sample, should be acidified to pH</p>
            <p>Please take the following precautions when sending frozen water samples:</p>
            <ul>
                <li>Always leave at least 10% of the container unfilled to accommodate the expansion of the water when frozen.</li>
                <li>Do not place sample containers directly onto dry ice.</li>
                <li>Place some insulation between the dry ice and the sample containers.</li>
                <li>Do not use glass bottles.</li>
            </ul>
            <p><a href="/media/pdf/epa-samp-req.pdf" target="_blank" title="">Click here </a>to view a summary of EPA recommendations for sample preservation and holding times - Sampling-EPA Requirements</p>
        </div>
        <div class="collapse" id="other" aria-expanded="false" style="height: 0px;">
            <h2>Olive Oil</h2>
            <h3>Sample Amount</h3>
            <p>Submit 50 mL for chemical testing.</p>
            <h3>Storage and Containers</h3>
            <p>Samples submitted to the lab should be stored in an amber-colored or foil-lined glass bottle. Samples should be maintained at room temperature at all times. If taking samples from a storage tank, purge the sampling tap prior to sampling.</p>

            <h2>Miscellaneous</h2>
            <p>The Analytical Laboratory accepts other sample types such as blood or manure for specific testing. Please <a asp-area="" asp-controller="Home" asp-action="Contact">contact the Lab</a> if you have questions regarding sample preparation for
                sample types not included in this document.</p>

            <h2>Other</h2>
            <p>The Analytical Laboratory offers the option for clients to submit wrapped samples (plant and soil) for Nitrogen and/or Carbon analysis. Wrapping instructions are provided below. Please note: The lab prefers and recommends that unwrapped material
                is submitted for analysis. Sample material wrapped by lab staff allows for stringent quality control and re-analysis in case of instrument failure or suspicious results.</p>
            <ul>
                <li><a href="/media/pdf/Client-Wrapped-for-C-N-in-Plant-ver-01.pdf" target="_blank" title=""><span class="internal-link">Client-Wrapped - Plant Material for Nitrogen and/or Carbon Analysis</a></li>
                <li><a href="/media/pdf/Client-Wrapped-for-C--N-in-Soil-ver-01.pdf" target="_blank" title=""><span class="internal-link">Client-Wrapped - Soil Material for Nitrogen and/or Carbon Analysis</a></li>
            </ul>
        </div>
        <h3>References</h3>
        <p>Reisenauer, H. M. (ed.) 1978. Soil and Plant-Tissue Testing in California, Division of Agricultural Sciences, University of California, Bulletin 1879.</p>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('.collapse').on('show.bs.collapse', function (e) {
                $('.collapse').not(e.target).removeClass('in');
            });
        });
    </script>
}

