// React overrides
#react-app {
  .theme__text___3guDD {
    color: $primary-font;
  }
  .theme__radio___1vWJb {
    border: 2px solid $primary-font;
  }
  .theme__radio___1vWJb::before {
    background-color: $primary-color;
  }
  .theme__radioChecked___210O6 {
    border: 2px solid $primary-color;
  }
  .theme__text___dXU7C {
    color: $primary-font;
  }
  .theme__check___1CXAo {
    border-color: $primary-font;
  }
  .theme__check___1CXAo.theme__checked___nSz7s {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .theme__bar___3FySS::before,
  .theme__bar___3FySS::after {
    background-color: $primary-color;
  }
  .label:not(.fixed) {
    color: $primary-color;
  }
}
// test table
table.table {
  tbody {
  }
  tr.group-header {
    font-size: 1.4rem;
    td {
      background-color: darken($primary-color, 9.99999) !important;
      color: #fff !important;
    }
  }
  .theme__field___3Tq32 {
    margin-bottom: 0px;
  }
  > thead > tr > th {
    border-bottom: 2px solid $primary-color;
  }
}
.anlab_form_style {
  border: 1px solid $primary-color;
  padding: 12px 16px;
  margin-right: -1px;
  margin-bottom: 16px;
  cursor: pointer;
  h3 {
    margin-bottom: 8px;
    color: $primary-color;
  }
  svg g {
    fill: $primary-color;
  }
  p {
    color: $primary-color;
    margin-bottom: 0px;
  }
}
.anlab_form_samplebtn {
  svg {
    margin: 8px 0px;
  }
  h3 {
    margin-bottom: 0px;
  }
}
.active-border {
  border: 1px solid $primary-color;
}
.active-bg {
  background-color: $primary-color;
  &:hover {
    background-color: $primary-color !important;
  }
}
.active-svg {
  svg {
    g {
      fill: #fff;
    }
  }
}
.active-text {
  h3 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}
.form_wrap {
  margin-bottom: 72px;
}
input {
  font-family: $sans-serif !important;
}
.form_header {
  font-size: 2rem;
  color: $primary-color;
  font-family: $sans-bold;
}
.tooltip .tooltip-inner * {
  color: white;
  white-space: pre-wrap;
  font-size: 14px;
}
.theme__input___lFVgC {
  transition: all 0.15s ease;
}
.form-group {
  h4 {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: $sans-reg;
    color: $secondary-font;
  }
  p {
    font-family: $sans-bold;
    margin-bottom: 0px;
  }
}
input[type="radio"].videokilledtheradiostar {
  margin-right: 6px;
}
