.profile_nav {
  list-style: none;
  li {
    display: inline;
  }
}
ul.navbar-nav {
  margin: 0;
  margin-left: 8px;
  li {
    font-weight: 600;
    margin-right: 16px;
    a {
      color: #fff;
      font-family: $sans-bold;
    }
  }
}
.navbar {
  margin-bottom: 0;
}
.nav-link:hover,
.nav-link:focus {
  color: rgba(255, 255, 255, 0.88) !important;
  font-family: $sans-bold;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.88);
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border: none;
  background-color: rgba(255, 255, 255, 0.12);
}
.dropdown-menu > li > a {
  color: $primary-font !important;
}
