@model AnlabMvc.Models.CyberSource.ReceiptResponseModel
@{
    ViewData["Title"] = "Cancel";
    //var paymentDict = (Dictionary<string, string>)ViewBag.PaymentDictionary;
}

<h1>Payment not complete. Payment Canceled</h1>

@*<div>
    <h2>Debugging Info</h2>

    <div>
        @foreach (var key in paymentDict)
        {
            <p>@key.Key -- @key.Value</p>
        }
    </div>
</div>*@