@model AnlabMvc.Models.CyberSource.ReceiptResponseModel
@{
    ViewData["Title"] = "Receipt";
    var paymentDict = (Dictionary<string, string>)ViewBag.PaymentDictionary;
}

<h2>Receipt</h2>
<h1>@Model.Auth_Amount</h1>

<div>
    <h2>Debugging Info</h2>

    <div>
        @foreach (var key in paymentDict)
        {
            <p>@key.Key -- @key.Value</p>
        }
    </div>
</div>